---
import { getEntry, getCollection } from "astro:content";
import NeighborIsla from '../../components/NeighborIsla.jsx';
import TravelPlanIsla from '../../components/TravelPlanIsla.vue';

export async function getStaticPaths() {
  const countries = await getCollection("countries");
  return countries.map((country) => ({
    params: { slug: country.data.slug },
  }));
}

const { slug } = Astro.params;
let countryEntry = await getEntry("countries", slug);

if (!countryEntry) {
  const countries = await getCollection("countries");
  countryEntry = countries[0];
}

const country = countryEntry.data;
const allCountries = await getCollection("countries");


const neighbors = country.borders
  ? country.borders
      .map(code => allCountries.find(c => c.data.code.toLowerCase() === code.toLowerCase()))
      .map(c => {
        if (!c) return null;
        return {
          code: c.data.code,
          name: c.data.name,
          flag: c.data.flag,
          slug: c.data.slug,
        };
      })
      .filter(Boolean)
  : [];
---
<html lang="es">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
  <title>{country.name}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
  .custom-heading {
    font-size: 3.2rem;
  }
</style>

<body class="bg-light">
  <div class="container-fluid px-2 px-sm-1 px-md-4 py-2 py-sm-5">

    <h1 class="custom-heading text-center mb-4">
      { country.name }
    </h1>
    <section class="text-center d-flex flex-column align-items-center min-vh-50">
      <img 
        src={country.flag} 
        alt={`Bandera de ${country.name}`} 
        class="img-fluid rounded" 
        style="height: 30vh; max-height: 350px; max-width: 90vw; min-width: 300px; object-fit: cover; transition: transform 0.3s ease;"
      />
    </section>

    <section>
      <NeighborIsla neighbors={neighbors} client:load />
    </section>

    <section class="mt-5">
      <TravelPlanIsla country={country} client:visible />
    </section>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>